.header{
    width: 100%;
    height: 50px;
    background-color: #000563;
    padding: unset ;
}


.title{
    font-family: "Yu Gothic Light";
    font-size: 45px !important;
    display: flex;
    color: white;
    position: absolute;
    top: 15%;
    left:2%;

}

.belowheader{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(315deg, transparent 70%, #000563  0%);
    padding: unset ;
}



.header-wrap{
    z-index: 999 !important;
    position: fixed ;
    top: 0px;
    left: 0px;
    width: 100%;
    height: fit-content;
}

.footerwrap{
    z-index: 999;
    position: fixed ;
    bottom: 0px;
    width: 100%;
    height: fit-content;

}

.footer{
    width: 100%;
    height: 50px;
    background-color: #000563;
    padding: unset ;

}

.abovefooter{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(315deg, #000563 30%, transparent  0%);
    padding: unset ;
}

.main-right{
    background-color: #353262;
    width: 50%;
    height: 100vh;
    background-image: url('hexagon.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-left{
    background-color: white;
    width: 50%;
    height: 100vh;
    border: #000563;
    box-shadow: 3px 0 16px black;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainblock{
    display: flex;
    height: 100%;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0px !important;
    margin: 0px !important;
}

.duckblock{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.title{
    font-size: 22px;
}

.duck{
    height: 350px;
    width: auto;
    animation: Duck-vibrate 1s ease-in-out 0s 1 normal forwards;
}

.wiggle{
        animation: Duck-vibrate 1s ease-in-out 0s 1 normal forwards;
}

.duck-text{
    padding: 25px;
    background-color: white;
    font-size: 32px;
    border-bottom-left-radius: 0px !important;
    text-align: left;
    max-width: 650px;
    word-wrap: break-word;
    font-family: "Yu Gothic Light";
}

.textcite{
    background-color: white;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 20%;
    clip-path: polygon(76% 0, 76% 60%, 76% 100%, 63% 81%, 30% 39%, 0% 0%);
}

.speech-box{
    padding: 5% !important;
    padding-bottom: unset !important;
    position: relative;
    animation: TextBubble-fade-in 1s ease-in-out 0s 1 normal forwards;
}

@keyframes TextBubble-fade-in {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes Duck-vibrate {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}


@keyframes entrance-question {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}


#question2, #question3, #question4, #question5, #question6 {
    display: none;
}

#button-2, #button-3, #button-4, #button-5, #button-6, #question3-buttons,  #question4-buttons, #question5-buttons, #question6-buttons, #question7-buttons {
    display: none;
    justify-content: space-around;
}


#question-2-text, #question-3-text, #question-4-text, #question-5-text, #question-6-text, #question-7-text {
    display: none;
}

.input-fields{
    padding-left: 5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 16px #00000029;

    opacity: 1;
    border: none;
    width: 80vh;
    font-size: 22px;
    resize: none ;
    font-size: 25px;

    height: 300px;
    animation: entrance-question 1s ease 0s 1 normal forwards;
}



.contentblock{
    background-color: red;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
}

.formblock{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}


.button{
    border: none;
    width: 20vh;
    height: 5vh;
    font-size: 22px;
    resize: none ;
    transition: .2s ease-in-out;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 16px #00000029;
    margin-top: 5%;
    opacity: 1;
    border: none;
    
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 5%;
}

.button:hover{
    transform: scale(1.05);
    background-color: #353262;
    color: white;
}




.buttonblock{
    width: 80vh;
    display: flex;
}

.summary{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-left: 25% ;
}

.intro{
    font-size: 35px;
    text-align: left;
    max-width: 85vh;
    font-family: "Yu Gothic Light";
    transition: .2s ease-in-out;
}

@media only screen and (max-width: 1400px) {
    
.intro{
    font-size: 25px;
    text-align: left;
    max-width: 85vh;
    font-family: "Yu Gothic Light";
}

}

#darkmode_button{
    font-family: "Yu Gothic Light";
    font-size: 25px !important;
    display: flex;
    color: white;
    position: absolute;
    top: 20%;
    left:15%;
    background-color: #000563;
    border: none;
}