.header{
    z-index: 999;
    width: 100%;
    height: 50px;
    background-color: #000563;
    padding: unset ;
    
}

.belowheader{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(315deg, transparent 70%, #000563  0%);
    padding: unset ;
}


.header-wrap{
    position: fixed ;
    top: 0px;
    left: 0px;
    width: 100%;
    height: fit-content;
}

.footerwrap{
    z-index: 999;
    position: fixed ;
    bottom: 0px;
    width: 100%;
    height: fit-content;

}

.footer{
    width: 100%;
    height: 50px;
    background-color: #000563;
    padding: unset ;
    animation: slidein-2 1.2s;
}

.abovefooter{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(315deg, #000563 30%, transparent  0%);
    padding: unset ;
    animation: slidein-2 1.2s;
}

.main-right{
    background-color: #353262;
    width: 50%;
    height: 100vh;
}

.main-left{
    background-color: white;
    width: 50%;
    height: 100px;
    height: 100vh;
    
}

.mainblock{
    display: flex;
    height: 100%;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0px !important;
    margin: 0px !important;
}

.duckblock{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.duck{
    height: 350px;
    width: auto;
}

.duck-text{
    padding: 25px;
    background-color: white;
    font-size: 32px;
    border-bottom-left-radius: 0px !important;
    text-align: left;
    max-width: 600px;
    word-wrap: break-word;
}

.textcite{
    background-color: white;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 20%;
    background: linear-gradient(45deg,  transparent 60%, rgba(255,255,255,1) 50%);
}

.speech-box{
    padding: 5% !important;
    padding-bottom: unset !important;
    position: relative;
    animation: TextBubble-fade-in 1s ease-in-out 0s 1 normal forwards;
}

@keyframes TextBubble-fade-in {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}